

<section class="mt-4 container">

<h1 class="text-center mb-5 pb-2 border-bottom ">Add a bookmark</h1>

<div class="container">
  <%= simple_form_for [ @list, @bookmark] do |f| %>
  <div class="mb-3">
    <%= f.association :movie %>
  </div>
  <div class="mb-3">
    <%= f.input :comment %>
  </div>
  <%= f.submit "Submit review", class: "btn btn-primary w-100" %>
  <% end %>
</div>
</section>
